@font-face {
  font-family: 'VCR';
  src: url('./fonts/vcr.ttf') format('truetype');
}

@font-face {
  font-family: 'lora';
  src: url('./fonts/lora.ttf') format('truetype');
}

@font-face {
  font-family: 'lora-italic';
  src: url('./fonts/lora-italic.ttf') format('truetype');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1rem;
  }
}


@media screen and (min-width: 600px) {
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.3rem;
  }
}

body{
  width: 100vw;
  max-height: fit-content;
  min-width: 100vw;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

html {
  width: 100vw;
  max-height: fit-content;
  min-width: 100vw;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

