@media screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
        margin: 4em;
    }

    .about_subtitle {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 600px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 4fr 1fr;
        gap: 1%;
    }

    .about_subtitle {
        justify-content: flex-end;
        right: 4em;
        grid-column: 2;
    }

    .about_text {
        grid-column: 3;
    }
}

.about_subtitle {
    font-size: 150%;
    font-weight: bold;
    position: relative;
    display: flex;

    font-family: 'lora';
    color: #dd861d;
}

.about_text {
    position: relative;
    font-family: 'lora';
    text-align: start;
    font-size: 130%;
}


