@media screen and (max-width: 600px) {
    .footer {
        margin-left: 4em;
        margin-right: 4rem;
    }
}

@media screen and (min-width: 600px) {
    .footer {
        margin-left: 20em;
        margin-right: 20rem;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distributes space between the items */
    font-family: 'lora';
}

.footer_left {
    font-size: 100%;
    position: relative;
}

.footer_left p {
    font-weight: medium;
    color: #dd861d;
    margin-top: -0.5em;
}

.footer_right {
    display: flex;
    align-items: flex-end;
    font-size: 100%;
}

.footer_right p {
    font-weight: medium;
    color: #dd861d;
    margin-top: -0.5em;
}
