@media screen and (max-width: 600px) {
    .technologies {
        display: flex;
        flex-direction: column;
        margin: 4em;
        padding-right: 5em;
        align-items: center;
        justify-content: center;
    }

    .technologies_subtitle {
        margin-right: 10em;
        justify-content: flex-start;
    }

    .technologies_list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1%;
    }

    .languages {
        grid-row: 1;
    }

    .frameworks {
        grid-row: 1;
    }

    .developer_tools {
        grid-row: 2;
    }

    .libraries {
        grid-row: 2;
    }
}

@media screen and (min-width: 600px) {
    .technologies {
        display: grid;
        grid-template-columns: 1fr 1fr 4fr 1fr;
        gap: 1%;
    }

    .technologies_subtitle {
        justify-content: flex-end;
        right: 4em;
        grid-column: 2;
    }

    .technologies_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column: 3;
        gap: 1%;
    }

    .languages {
        grid-column: 1;
        align-self: auto;
    }

    .frameworks {
        grid-column: 2;
        align-self: start;
    }

    .developer_tools {
        grid-column: 3;
        align-self: start;
    }

    .libraries {
        grid-column: 4;
        align-self: start;
    }
}

.technologies_subtitle {
    font-size: 150%;
    font-weight: bold;
    position: relative;
    display: flex;
    padding-top: 50%;
    

    font-family: 'lora';
    color: #dd861d;
}

.technologies_list {
    font-family: 'lora';
    text-align: start;
    font-size: 130%;
    font-weight: lighter;
    margin-bottom: 5px;
}

.technologies_list p {
    margin-bottom: -15px;
}

