@media screen and (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        margin: 4em;
    }

    .projects_subtitle{
        align-self: flex-start;
        margin-bottom: 1em;
    }

    .projects_content_list {
        display: flex;
        flex-direction: column;
        gap: 1%;
        margin-right: 1em;
    }
}

@media screen and (min-width: 600px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 4fr 1fr;
        gap: 1%;
    }

    .projects_subtitle{
        grid-column: 2;
        right: 4em;
    }

    .projects_content_list {
        grid-column: 3;
        display: flex;
        flex-direction: column;
        gap: 1%;
    }
}

.projects_subtitle {
    font-size: 150%;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: flex-end;
    

    font-family: 'lora';
    color: #dd861d;
}

.projects_content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-family: 'lora';
    text-align: start;
    font-size: 120%;
    padding-bottom: 5%;
}

.project_content_text {
    font-size: 100%;
    padding-right: 6%;
}

.project_img {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.project_img img {
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 20%;
    cursor: pointer;
}

.learn_more_button {
    font-family: 'lora';
    font-size: 90%;
    color: #dd861d;
    background-color: #ffffff;
    border: 1px solid #dd861d;
    border-radius: 5px;
    cursor: pointer;
}

