.navbar {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-family: 'lora';
    color: #3d3d3d;
    padding-top: 2%;
}

.nav_button {
    font-family: 'lora';
    font-size: 130%;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: -1px;
}

.resume_nav_button {
    font-family: 'lora';
    font-size: 130%;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: -1px;
}

.resume_div {
    margin-right: 2rem;
}


@media screen and (max-width: 600px) {
    .button_div {
        display: none;
        margin-right: 0.4rem;
    }

    .nav_button {
        display: none;
    }
  }
  
  
  @media screen and (min-width: 600px) {
    .button_div {
        display: none;
        margin-right: 1%;
    }

    .nav_button {
        color: #dd861d;
    }
  }

.switch {
    width: 30px;
    height: 10px;
    background-color: #e8ad19;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    margin-right: 2%;
}

.switch[data-ison="true"] {
    justify-content: flex-end;
    background-color: #212121;
}

.handle {
    align-self: center;
    width: 20px;
    height: 20px;
    margin-left: -5px;
    margin-right: -5px;
    background-color: white;
    border-radius: 40px;
}